
.archive {
	.archive-title {
		flex-basis: 100%;
		justify-content: center;
		text-align: center;
	}
	// .wp-post-image {
	// height: 200px;
	// width: 200px;
	// }
	#main {
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 90%;
		margin: 0 auto;
	}
	.entry-header {
		// width: 45%;
	}

	&.post-type-archive-product {
		article {
			flex-basis: 23%;
		}
	}
	&.post-type-archive-adventure {
		article {
			flex-basis: 40%;
		}
	}
}

.product-info-box {
	border: 1px solid #a1a1a1;
	border-top: 3px solid #a1a1a1;
	display: flex;
	justify-content: space-between;
}

.product-type-description {
	color: grey;
	text-align: center;
}

.product-type-container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	border-top: dotted #a1a1a1 2px;
	padding-top: 10px;
}

.adventure-title {
	font-size: 1rem;
}



