/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
	font-family: "merri", Courier, serif;
	src: url('Merriweather-Light.ttf') format("truetype");
}

@font-face {
	font-family: "novo", Helvetica, sans-serif;
	src: url('Novecentosanswide-Normal.ttf') format("truetype");
}


