.section-title {
	text-align: center;
	font-size: 2em;
	margin: 40px auto;
}


.shop-container {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.shop-category {
	text-align: center;
	border: 1px solid grey;
	border-top: 5px solid grey;
	padding: 8px;
	width: 22%;
}

.shop-category:hover {
	border-color: #d99054;
}

.shop-image {
	height: 60px;
	padding-bottom: 5px;
}

.shop-button {
	border-radius: 0%;
	padding: 5px;
	font-size: 12px;
	margin-top: 9px;
	background: #248A83;
	border: none;
	width: 100px;
	height: 30px;
	text-shadow: none;
	box-shadow: none;
}

.shop-button:hover {
	background: #248A83;
}

// ******************** JOURNEAL *************************************

.journal-contianer {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.journal-item {
	width: 33%;
}

.journal-entry {
	border: 1px solid;
	border-color: #a1a1a1;
	padding: 5px;
	text-align: left;
	margin-top: 5px;
}

.entry-title a {
	color: #248A83;
	text-decoration: none;
}

.read-more {
	padding: 10px;
	border: solid 1px;
	border-color: #a1a1a1;
	background-color: white;
	margin: 7px auto;
}

// ******************** JOURNEAL *************************************

.adventure-container {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

// ******************** ABOUT PAGE *************************************

.about-section {
	margin: 0 auto;
	width: 60%;
}

// ******************** FIND US *************************************