.contact-parent {
	display: flex;
	justify-content: space-around;
}

.contact-page {
	width: 55%;
	margin: 5%;
}

.sidebar {
	width: 25%;
}

.red {
	color: red;
}

.wpcf7-submit {
	background: #248A83;
	color: white;
	text-transform: uppercase;
}